@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Raleway:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-color1: #f6002d;
    --main-color2: #ff6200;
}

body {
    background-color: #1E1E2E;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

@media (min-width: 1024px) {
    body {
        overflow-y: hidden;
    }
}

.tm {
    width: 32px;
    height: 32px;
}

.main-color1 {
    color: #f6002d;
}

.main-color2 {
    color: #ff6200;
}

.img-home {
    max-width: 80%;
}